/problema2/problema2/nbproject/private/
/problema2/problema2/build/
/problema3/automotor/nbproject/private/
/problema3/automotor/build/
/problema4/cheques/nbproject/private/
/problema4/cheques/build/
/problema1/calificaciones/nbproject/private/